.color-add{
    background-color: #F0FFF0;
    ;
}
.padding-add{
    padding: 5px 130px;
}

.photo-set{
    height: 40px;
    width: 100px;
}
.sign-in{
    padding: 12px 20px;
    text-decoration: none;
    color: white!important;
    background-color:#21B573;
    border-radius: 10px;
    cursor: pointe;
}

.red{
    color: red;
    font-size: 10px;
}

.carousel-item{
    padding: 20px 120px;
}
span{
    color: #21B573;
}
.card-area{
    padding: 10px 10px;
}
.img-add{
    width: 66px;
    height: 85px;
}
.box-1{
    background-color: green;
}

