.color-add{
    background-color: #F0FFF0;
}
.padding-add{
    padding: 5px 130px;
}

.photo-set{
    height: 40px;
    width: 100px;
}
.sign-in{
    padding: 12px 20px;
    text-decoration: none;
    color: white!important;
    background-color:#21B573;
    border-radius: 10px;
    cursor: pointe;
}

.red{
    color: red;
    font-size: 15px;
}

.carousel-item{
    padding: 20px 120px;
}
span{
    color: #21B573;
}
.step2{
    margin-top: 50px;
}
.card-area{
    padding: 10px 10px;
}
.img-add{
    width: 66px;
    height: 85px;
}
p{
    color: grey;
}
.card{
    padding: 35px 55px;
    margin: 20px 0;
    border-radius: 4%;
    border: none;
}
.color-1{
    background-color: #F0FFF0;
}

.style{
    box-shadow: 0 0 80px #DDD;
}

